<!DOCTYPE html>
<html>
<head>
    <title>Experience</title>
</head>
<body>

<form class="form-horizontal" method="POST">
    <div th:if="${not #strings.isEmpty(regName)}">
        Hello, <span th:remove="tag" th:text="${regName}"></span>
    </div>

    <div class="control-group">
        <label class="control-label" for="experience">Choose t-shirts:</label>
        <div class="controls">
            <select id="experience">
                <option>Male, Size S</option>
                <option>Male, Size M</option>
                <option>Male, Size L</option>
                <option>Male, Size XL</option>
                <option>Female, Size S</option>
                <option>Female, Size M</option>
                <option>Female, Size L</option>
                <option>Female, Size XL</option>
            </select>
        </div>
        <div class="controls">
            <button type="submit" name="_eventId_ok" class="btn">Submit</button>
        </div>
    </div>
</form>
</body>
</html>