<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form class="form-horizontal" method="POST" th:object="${userForm}">
    <div class="control-group">
        <label class="control-label" for="userName">User name</label>

        <div class="controls">
            <input id="userName" th:field="*{userName}" type="text"/>

            <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
        </div>
        <div class="controls">
            <button type="submit" name="" class="btn">Submit</button>
            <input type="hidden" name="_eventId" value="existingUser"/>
        </div>
    </div>
</form>

</body>
</html>